data/puzzle_ratings_Dec15.csv
data/puzzle_ratings.csv
data/rapid_games_clocks.csv
data/rapid_games_Dec15.csv
data/rapid_games_Dec15(LAN).csv
data/rapid_games_evals.csv
data/rapid_games.csv
data/rapid_ratings_Dec15.csv
data/rapid_ratings.csv
stockfish/AUTHORS
stockfish/CITATION.cff
stockfish/Copying.txt
stockfish/README.md
stockfish/stockfish-windows-x86-64-avx2.exe
stockfish/Top CPU Contributors.txt
stockfish/src/benchmark.cpp
stockfish/src/benchmark.h
stockfish/src/bitbase.cpp
stockfish/src/bitboard.cpp
stockfish/src/bitboard.h
stockfish/src/endgame.cpp
stockfish/src/endgame.h
stockfish/src/evaluate.cpp
stockfish/src/evaluate.h
stockfish/src/main.cpp
stockfish/src/Makefile
stockfish/src/material.cpp
stockfish/src/material.h
stockfish/src/misc.cpp
stockfish/src/misc.h
stockfish/src/movegen.cpp
stockfish/src/movegen.h
stockfish/src/movepick.cpp
stockfish/src/movepick.h
stockfish/src/pawns.cpp
stockfish/src/pawns.h
stockfish/src/position.cpp
stockfish/src/position.h
stockfish/src/psqt.cpp
stockfish/src/psqt.h
stockfish/src/search.cpp
stockfish/src/search.h
stockfish/src/thread_win32_osx.h
stockfish/src/thread.cpp
stockfish/src/thread.h
stockfish/src/timeman.cpp
stockfish/src/timeman.h
stockfish/src/tt.cpp
stockfish/src/tt.h
stockfish/src/tune.cpp
stockfish/src/tune.h
stockfish/src/types.h
stockfish/src/uci.cpp
stockfish/src/uci.h
stockfish/src/ucioption.cpp
stockfish/src/incbin/incbin.h
stockfish/src/incbin/UNLICENCE
stockfish/src/nnue/evaluate_nnue.cpp
stockfish/src/nnue/evaluate_nnue.h
stockfish/src/nnue/nnue_accumulator.h
stockfish/src/nnue/nnue_architecture.h
stockfish/src/nnue/nnue_common.h
stockfish/src/nnue/nnue_feature_transformer.h
stockfish/src/nnue/features/half_ka_v2_hm.cpp
stockfish/src/nnue/features/half_ka_v2_hm.h
stockfish/src/nnue/layers/affine_transform_sparse_input.h
stockfish/src/nnue/layers/affine_transform.h
stockfish/src/nnue/layers/clipped_relu.h
stockfish/src/nnue/layers/simd.h
stockfish/src/nnue/layers/sqr_clipped_relu.h
stockfish/src/syzygy/tbprobe.cpp
stockfish/src/syzygy/tbprobe.h
stockfish/wiki/_Footer.md
stockfish/wiki/Advanced-topics.md
stockfish/wiki/Commands.md
stockfish/wiki/Compiling-from-source.md
stockfish/wiki/Developers.md
stockfish/wiki/Download-and-usage.md
stockfish/wiki/Governance-and-responsibilities.md
stockfish/wiki/Home.md
stockfish/wiki/Regression-Tests.md
stockfish/wiki/Stockfish-FAQ.md
stockfish/wiki/Terminology.md
stockfish/wiki/Useful-data.md
